@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Black.woff2') format('woff2'),
    url('../fonts/Montserrat-Black.woff') format('woff');
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

/* вспомогательные классы */

* {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-width: 320px;
  margin: 0 auto;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 15px;
}

:root {
  --soft-orange-color: #F7B045;
  --orange-color: #FF9900;
  --dark-orange-color: #E1670E;
  --white-color: #FFFFFF;
  --soft-grey-color: #CACACA;
  --grey-color: #666666;
  --dark-grey-color: #414141;
  --black-color: #000000;
}

.flex {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
}

.section {
  padding-bottom: 100px;
}

.about-bg {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
  position: absolute;
}

/* Header */

.header__container {
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.3);
  position: relative;
}

.logo {
  padding: 13px 0 11px 0;
  width: 54%;
}

.nav {
  width: 46%;
}

.nav__list {
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
}

.header__nav {
  width: 100%;
}

.burger {
  display: none;
}

.burger-menu {
  display: none;
}

.search {
  position: absolute;
  right: 63px;
  top: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border-radius: 16px;
  height: 60%;
  width: 0;
  font-weight: 500;
  font-size: 0;
  line-height: 22px;
  color: #adadad;
  background: var(--white-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  -webkit-filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.12));
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.12));
  transition: width .5s ease, padding .5s, font-size .5s ease;
  z-index: 50;
}

.header__btn_search {
  position: relative;
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: 86px;
}

.search-hide {
  visibility: hidden;
}

.search--active {
  padding: 2px 13px 2px 32px;
  width: 32%;
  font-size: 18px;
}

.search__form {
  margin-right: 14px;
  padding-bottom: 6px;
  border-bottom: 1px solid #dcdcdc;
  width: 83.4%;
}

.search-btn--close {
  margin-left: 20px;
  cursor: pointer;
}

.header__btn_search rect {
  transition: fill 0.3s ease-in-out;
}

.header__btn_search path {
  transition: stroke 0.3s ease-in-out;
}

.header__btn_search:hover:not(:focus) svg path {
  stroke: var(--orange-color);
}

.header__btn_search:hover:not(:focus) svg rect {
  fill: var(--orange-color);
}

.header__btn_search::after {
  content: "";
  top: 32px;
  left: -4px;
  right: -3px;
  bottom: 35px;
  position: absolute;
  border: 2px var(--orange-color) solid;
  opacity: 0;
}

.header__btn_search:focus::after {
  opacity: 1;
  transition: all 0.1s ease-in-out;
}

.header__btn_search:focus-visible::after {
  opacity: 1;
}

.header__btn_search:focus-visible {
  outline: none;
}

.header__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--black-color);
  transition: all 0.1s ease-in-out;
}

.header__link:hover:not(:focus) {
  border-bottom: 2px var(--orange-color) solid;
}

.header__link:focus {
  outline: 2px var(--orange-color) solid;
  outline-offset: 5px;
}

.header__link:focus-visible {
  outline: none;
  outline: 2px var(--orange-color) solid;
}

.header__link:active {
  color: var(--dark-orange-color);
  outline: none;
  border-bottom: 2px var(--dark-orange-color) solid;
}

/* hero */

.hero__title {
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--white-color);
  padding-top: 2.3px;
}

.swiper-container {
  border-radius: 35px;
  position: relative;
  overflow: hidden;
}

.swiper-wrapper {
  position: absolute;
  top: 0;
}

.swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  background-color: #FFFFFF;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
  margin-bottom: 15px;
}

.hero-bg1 {
  background-image: url(../img/hero1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-bg2 {
  background-image: url(../img/hero2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-bg3 {
  background-image: url(../img/hero3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero__text {
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  color: var(--white-color);
  padding-top: 24px;
  padding-bottom: 90px;
  letter-spacing: 0.35px;
}

.hero__box {
  width: 49%;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 99px;
  padding-left: 14px;
  margin-bottom: 42px;
  top: 0;
  left: 65px;
  z-index: 9;
  position: relative;
}

.hero__btn {
  padding: 25px 37px;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  color: var(--white-color);
  background-color: var(--orange-color);
  border: none;
  margin-bottom: 55px;
  transition: all 0.3s ease-in-out;
}

.hero__btn:focus {
  background-color: rgba(255, 153, 0, 0.7);
}

.hero__btn:hover {
  background-color: rgba(255, 153, 0, 0.7);
}

.hero__btn:active {
  background-color: rgba(225, 103, 14, 1)
}

.hero__btn:focus-visible {
  outline: none;
}

.hero__slider {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 28px;
}

.hero__point:not(:last-child) {
  margin-right: 20px;
}

.subtitle {
  font-weight: 400;
  font-size: 48px;
  caret-color: var(--black-color);
  margin: 0;
}

/* About */

.about__title {
  line-height: 56px;
  padding-left: 2px;
}

.about__top {
  width: 70%;
}

.about__text {
  padding-top: 22px;
  padding-bottom: 49px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black-color);
}

.about__bottom__part {
  width: calc(100% - 30px / 2);
}

.about__bottom__left {
  background-image: url(../img/about-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 34px;
  align-items: flex-end;
  width: 49%;
}

.about__bottom__left__block {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 52px 49px 54px 49px;
  align-items: center;
}

.about__bottom__left__block__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  word-spacing: -1px;
  color: var(--white-color);
}

.about__bottom__left__block__left-part {
  width: 60%;
}

.about__bottom__left__block__right-part {
  width: 40%;
  justify-content: flex-end;
}

.about__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--white-color);
  background-color: transparent;
  padding: 20px 37px;
  border: 2px var(--orange-color) solid;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.about__btn:focus {
  background-color: var(--orange-color);
}

.about__btn:focus-visible {
  outline: none;
}

.about__btn:hover {
  background-color: var(--orange-color);
}


.about__btn:active {
  background-color: var(--dark-orange-color);
  border-color: var(--dark-orange-color);
}

.about__bottom__right {
  flex-direction: column;
  width: 49%;
}

.about__bottom__right__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  color: var(--black-color);
  padding-bottom: 8px;
  padding-left: 1px;
}

.about__bottom__right__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  color: var(--black-color);
  padding-left: 2px;
}

.about__bottom__right__card__right-part {
  padding-left: 47px;

}

.about__bottom__right__card {
  border: 1px var(--soft-grey-color) solid;
  padding: 67px 100px 58.5px 58px;
}

.about__bottom__right__card:not(:last-child) {
  margin-bottom: 30px;
}

.about__bottom__right__card__bottom {
  margin-top: 30px;
  border: 1px var(--soft-grey-color) solid;
}

.about__svg {
  margin-right: 1px;
  margin-left: -1px;
  margin-top: -3px;
  margin-bottom: 3px;
}

/* work */

.work {
  margin-bottom: -2px;
}

.work__item {
  padding-top: 50px;
  padding-bottom: 45px;
}

.work__btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--black-color);
  position: relative;
  transition: color 0.3s ease-in-out;
}

.tabs-item {
  display: none;
}

.tabs-item--active {
  display: block;
}

.work__bg1 {
  background-image: url(../img/work.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.work__bg2 {
  background-image: url(../img/work2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.work__bg3 {
  background-image: url(../img/work3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.work__bg4 {
  background-image: url(../img/work4.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.work__btn {
  background-color: transparent;
  border: none;
}

.work__btn::after {
  content: "";
  inset: -5px;
  position: absolute;
  border: 2px var(--orange-color) solid;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.work__btn:focus::after {
  opacity: 1;
}

.work__btn:hover:not(:focus) {
  color: var(--orange-color);
}

.work__btn:active::after {
  opacity: 0;
  color: var(--dark-orange-color);
}

.work__btn:focus-visible {
  outline: none;
}

.work__item:not(:last-child) {
  margin-right: 85.7px;
}

.work__post-title {
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--black-color);
  letter-spacing: -0.25px;
  padding-top: 2px;
}

.work__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black-color);
  width: 89%;
}

.work__left {
  width: 49%;
}

.work__buttons {
  padding-top: 50px;
}

.work__btn_first {
  padding: 20px 38px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--white-color);
  background-color: var(--orange-color);
  margin-right: 31px;
  border: none;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.work__btn_first:hover {
  background-color: var(--soft-orange-color);
}

.work__btn_first:focus-visible {
  outline: none;
}

.work__btn_first:focus {
  background-color: var(--soft-orange-color);
}

.work__btn_first:active {
  background-color: var(--dark-orange-color);
}


.work__btn_second {
  padding: 20px 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--black-color);
  background-color: transparent;
  border: 1px var(--black-color) solid;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.work__btn_second:hover {
  background-color: var(--grey-color);
  color: var(--white-color);
  border-color: transparent;
}

.work__btn_second:focus {
  background-color: var(--grey-color);
  color: var(--white-color);
  border-color: transparent;
}

.work__btn_second:focus-visible {
  outline: none;
}

.work__btn_second:active {
  background-color: var(--black-color);
  color: var(--white-color);
}

.work__right {
  width: 49%;
  margin-top: 11px;
  margin-right: 1px;
}

/* faq  */

.faq {
  margin-bottom: 101px;
}

.faq__title {
  margin-bottom: 43px;
}

.faq__item {
  margin-bottom: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--soft-grey-color);
  transition: border-color .3s ease;
}

.faq__heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

/* accordion */
/* accordion title */
.ui-accordion .ui-accordion-header {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: none;
  min-height: 110px;
  background: transparent;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  background: transparent;
}

.ui-state-active .faq__svg path {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ui-state-focus {
  outline: none;
}

/* accordion content */
.ui-accordion .ui-accordion-content {
  border: none;
  padding: 0;
}

.faq__paragraph {
  margin: 0;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.faq__heading {
  transition: color .3s ease;
}

.faq__svg {
  min-width: 50px;
  margin-left: auto;
}

.faq__svg ellipse,
path {
  transition: fill .3s ease, -webkit-transform .3s ease;
  transition: fill .3s ease, transform .3s ease;
  transition: fill .3s ease, transform .3s ease, -webkit-transform .3s ease;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.faq__item:first-child {
  border-top: 1px solid var(--soft-grey-color);
}

.faq__item:first-child:focus {
  border-color: var(--orange-color);
  outline: none;
}

.faq__item:focus {
  color: var(--orange-color);
}

.faq__item:focus ellipse {
  fill: var(--orange-color);
}

.faq__item:focus path {
  fill: var(--white-color);
}

.faq__item:first-child:hover {
  border-color: var(--orange-color);
}

.faq__item:hover {
  border-color: var(--orange-color);
  color: var(--orange-color);
}

.faq__item:hover .faq__heading {
  color: var(--orange-color);
}

.faq__item:hover ellipse {
  fill: var(--orange-color);
}

.faq__item:hover path {
  fill: var(--white-color);
}

.faq__item:first-child:active {
  border-color: var(--soft-grey-color);
}

.faq__item:active {
  border-color: var(--soft-grey-color);
  color: var(--black-color);
}

.faq__item:active ellipse {
  fill: var(--color-ececec);
}

.faq__item:active path {
  fill: var(--grey-color);
  border-color: var(--soft-grey-color);
  color: var(--black-color);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slash {
  color: var(--soft-grey-color);
}

/* footer */
.footer {
  background-color: #222222;
}

.footer__block {
  background-color: #222222;
  padding-top: 50px;
  justify-content: space-between;
}

.footer__left {
  flex-direction: column;
  width: 320px;
  margin-right: 16px;
}

.footer__middle {
  padding-top: 2px;
  -webkit-transform: translateX(23px);
  transform: translateX(23px);
}

.footer__form {
  flex-direction: column;
  align-items: flex-start;
  width: 570px;
}

.footer__right {
  width: 363px;
  padding-top: 89px;
}

.footer__logo {
  margin-bottom: 20px;
  margin-left: -2px;
  width: 224px;
}

.footer__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--soft-grey-color);
}

.footer__request {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--soft-grey-color);
  padding-bottom: 25px;
}

.footer__link {
  color: var(--soft-grey-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  transition: color 0.3s ease-in-out;
}

.footer__link:focus {
  outline: 2px var(--orange-color) solid;
  outline-offset: 5px;
  transition: outline 0.1s ease-in-out;
}

.footer__link:focus-visible {
  outline: none;
  outline: 2px var(--orange-color) solid;
  outline-offset: 5px;
}

.footer__link:hover:not(:focus) {
  color: var(--orange-color);
}

.footer__link:active {
  color: var(--dark-orange-color);
  outline: none;
}

.footer__input {
  width: 95%;
  margin-bottom: 25px;
  background-color: var(--dark-grey-color);
  padding-top: 22px;
  padding-bottom: 19px;
  padding-left: 28px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  color: var(--soft-grey-color);
}

.form__fix {
  width: 95%;
}

.footer__input:focus {
  background-color: var(--grey-color);
  color: var(--soft-grey-color);
}

.footer__input:focus-visible {
  outline: none;
}

.footer__input:hover {
  background-color: var(--grey-color);
}

.footer__input:active {
  background-color: var(--grey-color);
  color: var(--white-color);
}

.footer__input::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--soft-grey-color);
}

.footer__input::-moz-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--soft-grey-color);
}

.footer__input:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--soft-grey-color);
}

.footer__input::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--soft-grey-color);
}

.footer__input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--soft-grey-color);
}

.footer__textarea {
  width: 96%;
  margin-bottom: 31px;
  background-color: var(--dark-grey-color);
  font-family: 'Montserrat', sans-serif;
  color: var(--soft-grey-color);
  resize: none;
  cursor: pointer;
  padding: 14px 0 78px 24px;
  border: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer__textarea:focus {
  background-color: var(--grey-color);
  color: var(--soft-grey-color);
}

.footer__textarea:focus-visible {
  outline: none;
}

.footer__textarea:hover {
  background-color: var(--grey-color);
}

.footer__textarea:active {
  background-color: var(--grey-color);
  color: var(--white-color);

}

.footer__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--soft-grey-color);
}

.footer__textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--soft-grey-color);
}

.footer__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--soft-grey-color);
}

.footer__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--soft-grey-color);
}

.footer__textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--soft-grey-color);
}

.footer__wrap {
  margin-bottom: 48px;
  flex-wrap: wrap;
  align-items: center;
}

.footer__check {
  margin-left: 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--soft-grey-color);
  cursor: pointer;
}

.footer__btn {
  background-color: var(--orange-color);
  color: var(--white-color);
  padding: 20px 55px 20px 56px;
  margin-right: 20px;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.footer__btn:focus {
  background-color: var(--soft-orange-color);
}

.footer__btn:hover {
  background-color: var(--soft-orange-color);
}

.footer__btn:active {
  background-color: var(--dark-orange-color);
}

.social__links {
  margin-top: 91px;
}

.social-link:not(:last-child) {
  margin-right: 25px;
}

.social-link path {
  transition: fill 0.3s ease-in-out;
}

.social-link {
  transition: border 0.3s ease-in-out;
}

.social-link:focus {
  outline: none;
  outline: 2px var(--orange-color) solid;
  outline-offset: 5px;
  transition: all 0.1s ease-in-out;
}

.social-link:hover:not(:focus) path {
  fill: var(--orange-color);
}

.social-link:focus-visible path {
  outline: none;
}

.social-link:active path {
  fill: var(--dark-orange-color);
  outline: none;
}

.social-link:active {
  outline: none;
}
